<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Departamento</title>
    <link rel="stylesheet" href="editar-department.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <app-header></app-header>
    <div class="card mx-auto my-5" style="max-width: 800px;">
        <h1 class="card-header display-6">Actualizar Departamento</h1>
        <div class="card-body">
            <div class="container text-center">
                <br>
                <div class="row mb-4">
                    <div class="col d-flex align-items-center justify-content-center fs-3">
                        Nombre del Departamento
                    </div>
                    <div class="col fs-3">
                        <div class="mb-3">
                            <label for="departmentName" class="form-label"></label>
                            <input [(ngModel)]="departmentName_department" class="form-control" id="departmentName" type="text"
                                placeholder="{{department?.departmentName}}" aria-label="default input example">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-end">
                <button (click)="ActualizarDepartment()" type="button" class="btn btn-primary">Actualizar</button>
                <a href="/Departments" class="btn btn-secondary ms-3">Cancelar</a>
            </div>
        </div>
    </div>
</body>
</html>
